body {
  background-color: #DADADA !important;
}
html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family: sans-serif;
}
#bubbles {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 0;
    background: rgba(0, 0, 0, 1);
    z-index: -1;
	  overflow: hidden;
}
#bubbles div {
	font-size: 2em;
	color: #2BFF00;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: fade 10s infinite;
	animation: fade 10s infinite;
}

@-webkit-keyframes fade {
	from {
		bottom: -24px;
		opacity: 1;
		visibility: visible
	}
	to {
		bottom: 120%
	}
}
@keyframes fade {
	from {
		bottom: -24px;
		opacity: 1;
		visibility: visible
	}
	to {
		bottom: 120%
	}
}

.header {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero {
  max-width: 50%;
  color: white;
}

.title{
  font-size: 2em;
}

.content{
  margin: 20px;
}